### 将Java程序配置为系统应用
### 若只需要自启动,将启动脚本配置到/etc/rc.local中即可,注意脚本中的文件路径
### 若添加到/etc/rc.local中，自启动时，日志会打印到/tmp/systemd-privateXXX的目录中

### 进入/etc/systemd/system(用户级别)或/usr/lib/systemd/system(系统级别)目录中,新建一个以.service为后缀的文件,该文件名为服务名
[Unit]
# 服务描述
Description=test service
after=network.target

[Service]
Type=forking
# 执行脚本
ExecStart=/data/server/ezhong-mes/deploy.sh
ExecReload=/data/server/ezhong-mes/deploy.sh
ExecStop=/data/server/ezhong-mes/stop.sh
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target

### 可使用以下命令对服务进行操作
### systemctl daemon-reload:重新加载某个服务的配置文件,如果新安装了一个服务,归属于 systemctl 管理,要是新服务的服务程序配置文件生效,需重新加载
### systemctl enable hello-service.service   # 添加开机启动服务
### systemctl start hello-service.service     # 启动服务
### systemctl stop hello-service.service    #关闭服务
### systemctl restart hello-service.service   # 重启服务
### systemctl status hello-service.service    # 查看服务状态
### systemctl disable hello-service.service    # 取消开机启动